<h1>{{title}}</h1>

<form
    class="ui form" 
    name="articleForm"
    data-url="/api/article/{{article.id}}"
    data-method="PUT"
    data-redirect-to="/"
    onSubmit="Site.submitForm(this)">

    <div class="ui message error">
        <i class="close icon"></i>
        <div class="header">
            Erro.
        </div>
        <p></p>
    </div>

    <input type="hidden" value="{{article.id}}" name="id">

    <div class="field">
        <label>Título</label>
        <input type="text" name="title" value={{article.title}}>
    </div>
    <div class="field">
        <label>Conteúdo</label>
        <textarea name="content">{{article.content}}</textarea>
    </div>

    <input type="submit" class="ui button primary" value="Salvar"/>
    <a href="/" class="ui button">Cancelar</a>
    <div
        onclick="deletePost()"
        class="ui labeled icon button basic right floated">
        <i class="icon delete"></i>
        Excluir
    </a>

</form>

<script>
function deletePost() {
    var id = articleForm.id.value
    $.ajax({
        method : 'DELETE' ,
        url : '/api/article/' + id
    }).then(() => {
        window.location.pathname = '/'
    })
    .catch( function(err) {
        $('.ui.message.error')
            .html('<p>' + (err.message || err.responseText) + '</p>')
            .show()
        $('body').animate({scrollTop:0},1000)
    })
}
</script>