{{#each items}}
<div class="ui vertical post borderless segment">
    <div class="ui text container">
        <div class="article-heading">                
            <h1 class="ui header">{{title}}</h1>
            <div class="post-meta">{{userDisplayName}} em {{formattedDate}}</div>
        </div>
        <div class="article-content" data-post-id="{{id}}">
            <div class="buttons">
                {{#if @root.$online}}
                <a href="/pages/article/{{id}}/edit">
                    <div class="ui icon button">
                        <i class="edit icon"></i>
                    </div>
                </a>
                {{/if}}
            </div>
            {{{content}}}
        </div>
    </div>
</div>
{{/each}}