{{#each items}}
<div class="ui vertical post borderless segment">
    <div class="ui text container">
        <div class="article-heading">
            <a href="/pages/article/slink/{{slink}}?id={{id}}">
                <h1 class="ui header">{{title}}</h1>
            </a>
            <div class="post-meta">{{userDisplayName}} em {{formattedDate}}</div>
        </div>
        <div class="article-content">
            <div class="buttons">
                {{#if @root.$online}}
                <a href="/pages/article/{{id}}/edit">
                    <div class="ui icon button">
                        <i class="edit icon"></i>
                    </div>
                </a>
                {{/if}}
            </div>
            {{{content}}}

            {{#if @root.truncated}}
            <a href="/pages/article/slink/{{slink}}?id={{id}}">
                <p class="show-more">Continuar lendo...</p>
            </a>
            {{/if}}

        </div>
    </div>
</div>
{{/each}}